{% include "header.html" %}

<!--<h1>Welcome to Quotes API website</h1>-->


<div class="container-fluid q-class">
    <div class="card q-card">
        <p><h2>{{quote}}</h2></p>
            <div> <h3>{{author}} </h3></div>

    </div>

</div>

<!--    <center>-->
<!--        <div>-->
<!--            <form action="/" method="POST">-->
<!--                <button class="btn btn-outline-dark" type="submit">New Quote</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </center>-->
<!--<div>-->
<!--    <p><a href="/add"><button class="btn btn-outline-dark">Add Quote</button></a></p>-->
<!--    <p><a href="/delete"><button class="btn btn-outline-dark">Delete Quote</button></a></p>-->
<!--</div>-->









{% include "footer.html" %}